<h1>Your Profile</h1>

<div class="show_profile">
<p>First Name:<%= @profile.first_name %></p>
<p>Last Name: <%= @profile.last_name %></p>
<p>Public Email: <%= @profile.public_email %> </p>
<p>Mobile: <%= @profile.mobile %></p>
	
	
</div>
	
	

	
