<h3>Welcome To Doctrack</h3>
<h4>Your Documents</h4>
<div class = "documents_list">
	<% @doc.each do |doc| %>
<%= link_to doc.name, doc_path(doc) %><br />
<% end %>
	
	
</div>
<div class = "document_create"><%= link_to "Create A Document", new_doc_path() %></div>


